@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h2>1 - Criar Modelo</h2>
    <!--uso de helper para formulário-->
    @using (Html.BeginForm("ImageUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })){
        <input type="file" name="badge_image" placeholder="Anexar Imagem de Fundo"/>
        <a href="https://blog.even3.com.br/crachas-para-eventos-academicos/" target="_blank">Dica: Templates</a>
    }
    <img />

    <h2>2 - Importar Participantes</h2>
    <textarea cols=100" rows="15" name="content_list"></textarea>

    <h2>3 - Baixar</h2>
    <a href="#" class="btn btn-default">Baixar crachás</a>
</div>
